@import "framework";

.content-parents {
  ul {
    li {
      list-style: disc;
      margin: 20px 30px;
    }
  }
}
p {
  font-family: $defaultAppFont;
  font-size: 16px;
  color: #757575;
  a {
    text-decoration: underline;
    color: #333;
  }
}

.content-home {
  iframe {
    width: 100%;
    height: 420px;
  }
}