<div class="content-ctg">
  <h1>
    Система КТГ Sigmafon
  </h1>
  <h2>
    Інновація
  </h2>
  <p>
    <img [src]="mainImage" alt="Image 1" style=" display: inline-block; float: left; margin-right: 10px;">
    <span style=" float: left;">Система КТГ Sigmafon - мініатюрний бездротовий кардіотокограф вагою бл. 200 грам для вагітних жінок для використання вдома, в клініці або в будь-якому іншому місці де б вона не перебувала. Це новітнє покоління цифрових, сертифікованих, повністю професійних телемедичних пристроїв, вироблених польською компанією Med Systems.</span>
  </p>
  <h3>Проблема, яку вирішує</h3>
  <p>
    Раннє виявлення загроз розвитку і постійний контроль над станом плоду сприяють швидкій реакції лікарів і здійсненню відповідних медичних процедур.
    Це особливо важливо при вагітностях з ускладненнями - статистично близько 30%, а також при in vitro і раніше відбувалися викидні.
    У всьому світі через недостатню кількість кардіотокографічного апаратів дослідження проводяться занадто рідко і займають багато часу для лікарів.
  </p>
  <h3>
    Унікальне рішення
  </h3>
  <ul>
    <li> Професійний, сертифікований медичний апарат вагою 200 гр; </li>
    <li> Дуже висока точність вимірювання (цифрові датчики + авторські алгоритми обробки сигналу) </li>
    <li> Дружній, інтуїтивно зрозумілий інтерфейс програми управління і ретрансміссіі даних на смартфон; </li>
    <li> Технічні параметри ідентичні або краще ніж у дорогих стаціонарних апаратів; </li>
    <li> Сумісність з комп'ютерними системами нагляду за вагітними; </li>
    <li> Доступ онлайн до результатів минулих аналізів; </li>
  </ul>
  <h3>
    Переваги для лікаря
  </h3>
  <ul>
    <li>Оптимальне використання персоналу клініки;</li>
    <li>Оптимізація часу персоналу клініки - пацієнтка самостійно вдома проводить рутинні аналізи КТГ;</li>
    <li>У домашніх умовах пацієнтка самостійно проводить стільки аналізів скільки рекомендує лікар;</li>
    <li>Негайна інтерпретація записів КТГ сертифікованої комп'ютерної системою нагляду за вагітними;</li>
    <li>Запис додаткових даних для кількісного опису явищ, пов'язаних зі станом плоду;</li>
    <li>Віддалений моніторинг будь-якого числа пацієнток;</li>
  </ul>
  <h3>
    Переваги для пацієнток
  </h3>
  <ul>
    <li>Цілодобовий нагляд, можливість в будь-який момент зробити запис КТГ і отримати її розшифровку з авторизацією чергового лікаря, розшифровка приходить у вигляді смса, на електронну пошту або повідомлення в додатку на смартфон;</li>
    <li>Негайна реакція чергового лікаря в разі визначення тривожних симптомів стану плода;</li>
    <li>Відсутність стресу пов'язаного з записами на візити і поїздками до лікаря.</li>
  </ul>
  <h3>
    Як це працює
  </h3>
  <ul>
    <li>Лікар проводить короткий інструктаж і перший запис КТГ, так щоб пацієнтка ознайомилася з принципом дії Системи Sigmafon, або пацієнтка може самостійно вивчити відео інструкцію на нашому сайті </li>
    <li> Пацієнтка будинку самостійно проводить записи КТГ відповідно до рекомендацій лікаря; </li>
    <li> Запис повинен тривати не менше 30 хвилин; </li>
    <li> Після закінчення запису КТГ пацієнта протягом 30 хвилин отримає зворотне повідомлення з розшифровкою і авторизацією чергового лікаря. </li>
    <li> У разі визначення тривожних симптомів черговий лікар негайно зв'язується з пацієнткою для визначення подальших кроків. </li>
  </ul>
  <h3>
    У підсумку
  </h3>
  <p>
    Профілактика і раннє виявлення вад розвитку плоду є "про-соцільной" діяльністю. Метою нашої компанії є широке поширення телемедицини та пропозиція медичних послуг світового якості за доступною ціною для будь-якої майбутньої мами.
  </p>
</div>
<div class="content-home">
  <ul>
    <li *ngFor="let video of galleryToDisplayVideo">
      <iframe [src]="video" frameborder="0"></iframe>
    </li>
  </ul>
</div>
