<div class="content-parents">
  <h1>
    ШАНОВНІ БАТЬКИ!
  </h1>
  <img [src]="mainImage" alt="Батьки" style="display: block; margin: 0 auto">
  <p>
    Ми пропонуємо вам можливість проводити реєстрацію КТГ в домашніх умовах.
  </p>
  <p>
    У нас є інноваційна телемедична система найвищої якості KTG Sigmafon, що поєднує в собі чудову якість реєстрації сигналів і дослідження серцевого ритму дитини з новітньою комп'ютерною системою акушерського нагляду - таке рішення, на сьогодні, є тільки у відомих акушерських клініках.
    Ми пропонуємо висококваліфікований супровід в передпологовому періоді. і найважливіше - останні тижні вагітності більше не будуть настільки напруженими. З нами ви можете бути впевнені і спокійні за здоров'я  малюка!
  </p>
</div>
<div class="content-home">
  <ul>
    <li *ngFor="let video of galleryToDisplayVideo">
      <iframe [src]="video" frameborder="0"></iframe>
    </li>
  </ul>
</div>
