<div class="header-additional">
  <!--<img src="/assets/images/general/logo_association.png">-->
  Рекомендовано асоціацією акушерів-гінекологів Укріїни
</div>
<div class="nav-wrapper">
  <nav class="navbar clear">
    <a class="navbar-logo" routerLink="/">
      <img src="/assets/logo.png" alt="logo" />
    </a>
    <ul class="navbar-nav clear">
      <li class="nav-item" *ngFor="let category of categories">
        <a class="nav-link clicked-menu-item" *ngIf="chosenCategory == category.url_key" (click)="setPageParameters(category.name, category.url_key)" routerLink="/{{category.url_key}}">{{category.name}}</a>
        <a class="nav-link" *ngIf="chosenCategory != category.url_key" (click)="setPageParameters(category.name, category.url_key)" routerLink="/{{category.url_key}}">{{category.name}}</a>
      </li>
    </ul>
  </nav>
</div>



