@import "framework";

.header-additional {
  max-width: $defaultAppWidth;
  font-family: $defaultAppFont;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  padding: 8px 50px;
  text-align: right;
  background: #3C4768;

  img {
    display: inline;
    margin-right: 10px;
    width: 24px;
  }
}

.nav-wrapper{
  background: $defaultAppBackground;
  border-bottom: 1px solid #e1e1e1;

  .navbar {
    max-width: $defaultAppWidth;
    margin: 0 auto;
    padding: 0 50px;

    .navbar-logo {
      float: left;

      img {
        height: 65px;
      }
    }

    .navbar-nav {
      max-width: 910px;
      margin-top: 10px;
      float: right;

      > li {
        float: left;

        a {
          display: block;
          font-family: $defaultAppFont;
          color: rgba(0,0,0,.54);
          font-size: 13px;
          padding: 18px 10px;
          font-weight: 500;
          cursor: pointer;
          text-transform: uppercase;

          &:hover, &.clicked-menu-item {
            color: #3C4768;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .nav-wrapper{
    .navbar {
      text-align: center;
      .navbar-logo {
        float: none;
        display: block;
        margin: 0 auto;
      }

      .navbar-nav {
        float: none;
        margin: 0 auto;
        display: inline-block;
        text-align: center;
      }
    }
  }
}
