<div class="content-instruction">
  <h1>Інструкції</h1>
  <h3>Ви можете ознайомитись з ними за посиланнями нижче</h3>
  <div class="data-container">
    <a [href]="colorInstruction" class="link" target="_blank">Кольорова</a>
    <a [href]="docInstruction" class="link" target="_blank">Ворд документ</a>
    <a [href]="presentation" class="link" target="_blank">Презентація</a>
  </div>

</div>
