.content-instruction{
  @import "framework";

  p {
    font-family: $defaultAppFont;
    font-size: 18px;
    color: #000;
    margin-left: 20px;
    font-weight: 300;
  }

  a {
    font-family: $defaultAppFont;
    font-size: 18px;
    color: #000;
    font-weight: 300;
    text-decoration: underline;
    display: block;
    margin: 10px 0;
  }
}
