@import "framework";

footer {
  max-width: $defaultAppWidth;
  position: absolute;
  bottom: 0;
  padding: 20px 50px;

  p {
    display: inline-block;
    font-family: $defaultAppFont;
    color: #757575;
    font-size: 15px;
    width: 100%;
    color: rgba(0,0,0,.54);
    font-weight: 500;
  }
}

@media only screen and (max-width: 992px) {
  footer {
    position: relative;
    padding: 0 0 0 10px;
  }
}
